!!! doctype 5
html(lang='en')

  head
    title MongoDB-TV
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', media='screen', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', media='screen', href='/stylesheets/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/stylesheets/video-js.css')
    script(src='/javascripts/jquery-2.0.3.min.js')
    script(src='/javascripts/video.js')
    script(type='text/javascript').
      videojs.options.flash.swf = "#{rootUrl()}/javascripts/video-js.swf";

  body
    nav.navbar.navbar-inverse.navbar-static-top(role='navigation')
      .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='/') MongoDB-TV
      .collapse.navbar-collapse.navbar-ex1-collapse
        ul.nav.navbar-nav
          li
            a(href='/shows') Shows
          li
            a(href='/about') About

    .container(style='min-height:450px;')
      block content

    .footer
      .col-md-6.text-center
        p Designed and built by <a href='http://twitter.com/mcascallares' target='_blank'>@mcascallares</a>
        p <a href='https://github.com/mcascallares/mongo-tv' target='_blank'>Code</a> licensed under <a href='http://opensource.org/licenses/MIT' target='_blank'>The MIT License (MIT)</a>
      .col-md-6.text-center
        a(href='https://mongodb.org' target='_blank')
          img(src='/images/Powered_by_MongoDB_5.png')


    script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/jqBootstrapValidation.js')

    block post-script