extends ../layout

block content

  .jumbotron
      h2 MongoDB-TV

      p A storage engine for your shows built over MongoDB GridFS. It also provides full text search capabilities to search into dialogs using subtitle files.