extends ../layout

block content
  h2 You bring the popcorn
  .jumbotron.text-center
    video#videoPlayer(class='video-js vjs-default-skin', controls, preload='auto', width='720', height='404',
      data-setup='{"example_option":true}')
          source(src='#{episodeRawUrl(video)}', type='#{type}')